<div class="machine-stats">
  <div class="machine-stats__machine-name">
    <span>Winston</span>
  </div>
  <div class="machine-stats__element">
    <div class="machine-stats__stat-description">
      <span class="machine-stats__stat-value">180</span>
      <span class="machine-stats__stat-text">Kaffees gebraut</span>
    </div>
    <img class="machine-stats__background-image" alt="back-icon" src="../../../assets/pictograms/stats/background/Cream.svg"/>
  </div>

  <div class="machine-stats__element">
    <div class="machine-stats__stat-description">
      <span class="machine-stats__stat-value">124</span>
      <span class="machine-stats__stat-text">Stunden online</span>
    </div>
    <img class="machine-stats__background-image" alt="back-icon" src="../../../assets/pictograms/stats/background/Blue.svg"/>
  </div>

  <div class="machine-stats__element">
    <div class="machine-stats__stat-description">
      <span class="machine-stats__stat-value">21</span>
      <span class="machine-stats__stat-text">kW/h verbraucht</span>
    </div>
    <img class="machine-stats__background-image" alt="back-icon" src="../../../assets/pictograms/stats/background/Coffee.svg"/>
  </div>
</div>
