<div class="order-history">

  <div class="order-history__element">
    <div class="order-history__element-left">
      <div class="order-history__order-machine-name">
        <span>Winston</span>
      </div>
      <div  class="order-history__order-timestamp">
        <span class="order-history__order-date">15.01.2019</span>
        <span class="order-history__order-time">15:30 Uhr</span>
      </div>
    </div>
    <div class="order-history__element-right">
      <span class="order-history__order-amount">10 Cent</span>
    </div>
  </div>

  <div class="order-history__summary">
    Insgesamt 8 Kaffees für 80 Cent
  </div>
</div>
