<div class="analysis">
  <div class="analysis__header-wrapper">
    <div class="analysis__header">
      <div class="analysis__header-back-icon">
        <img (click)="goToHome()" alt="back-icon" src="../../../assets/icons/24/Back/Dark.svg"/>
      </div>
      <div class="analysis__header-title"><span>Coffee Stats</span></div>
      <div class="analysis__header-back-icon"></div>
    </div>

    <div class="analysis__header-menu">
      <div class="analysis__header-menu-item {{menuState == 1 ? 'analysis__header-menu-item--active' : null}}" (click)="menuState = 1">
        <span>Kaufhistorie</span>
      </div>
      <div class="analysis__header-menu-item {{menuState == 2 ? 'analysis__header-menu-item--active' : null}}" (click)="menuState = 2">
        <span>Maschine</span>
      </div>
    </div>
  </div>

  <div class="analysis__content" (swiperight)="menuState = 1" (swipeleft)="menuState = 2">
    <app-order-history *ngIf="menuState == 1"></app-order-history>
    <app-machine-stats *ngIf="menuState == 2"></app-machine-stats>
  </div>
</div>
