<div class="analysis">
  <div class="analysis__header-wrapper">
    <div class="analysis__header">
      <div class="home__header-back-icon">
        <img (click)="goToHome()" alt="back-icon" src="../../../assets/icons/24/Back/Dark.svg"/>
      </div>
      <div class="analysis__header-title">Coffee Stats</div>
      <div class="home__header-back-icon"></div>
    </div>

    <div class="analysis__header-menu">
      <div class="analysis__header-menu-item" (click)="menuState = 1">
        <span>Kaufhistorie</span>
      </div>
      <div class="analysis__header-menu-item" (click)="menuState = 2">
        <span>Maschine</span>
      </div>
    </div>
  </div>

  <div class="analysis__content">
    <app-order-history *ngIf="menuState == 1"></app-order-history>
    <app-machine-stats *ngIf="menuState == 2"></app-machine-stats>
  </div>
</div>
