@import '../../shared/styles/colors';
@import '../../shared/styles/dimensions';
@import '../../shared/styles/fonts';

.analysis {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $color-text-dark;
  background-color: $color-background-light;

  &__header-wrapper {
    display: flex;
    background-color: $color-primary;
    padding: 0 $mobile-side-margin;
    flex-direction: column;
  }

  &__header {
    display: flex;
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  &__header-back-icon {
    width: 24px;
    height: 24px;
  }

  &__header-title {
    font: $font-sc-title;
    text-align: center;
    position: fixed;
  }

  &__header-menu {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
  }

  &__header-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__header-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    text-transform: uppercase;
    font: $font-sc-input-2;
    text-align: center;

    &--active {
      border-bottom: 3px solid $color-text-dark;
    }
  }
}
